<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.mapper.DepartmentMapper">

  <!-- 引用缓存  命名空间 :指定和命名空间下的缓存一样 -->
  <cache-ref namespace="com.gy.mapper.EmployeeMapper"/>

  <resultMap type="com.gy.bean.Department" id="dep">
 		<id column="id" property="id"/>
 		<result column="dept_name" property="deptName"/> 
 		<result column="location" property="location"/>	
  </resultMap>

  <!--  resultType 中用到了 typeAlias 中的别名 -->
  <select id="queryById" resultMap="dep">
  	 select * from department where id = #{id}
  </select>
  
  <insert  id="addDept" parameterType="com.gy.bean.Department">
  	INSERT INTO department( id , dept_name ,location) 
  	values(#{id},#{deptName},#{location})
  </insert>

</mapper>