<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.mapper.EmployeeMapper">

  <resultMap type="employee" id="employeeMap">
  	<id column="id" property="id"/>
  	<result column="last_name" property="lastName"/>
  	<result column="email" property="email"/>
  	<result column="gender" property="gender"/>
  </resultMap>


  <!-- databaseId="mysql" 表示在MySQL条件下才执行 -->
  <select id="queryById" resultMap="employeeMap"
  	databaseId="mysql">
  	select * from employee where id = #{id}
  </select> 
  
  <select id="queryById" resultType="com.gy.bean.Employee"
  	databaseId="oracle">
  	select EMPLOYEE_ID id,LAST_NAME lastName,EMAIL email,
  	GENDER gender from employee where EMPLOYEE_ID = #{id}
  </select>

</mapper>